#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
    height: 6em;
    left: 0;
    line-height: 8em;
    position: absolute;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: aliceblue;
}

.sociales {
    width: 6%;
}

@media(max-width: 947px){
    .sociales {
        width: 12%;
    }
}


@media (max-width: 550px){
    .sociales {
        width: 20%;
    }
}